.arabic {
    direction: rtl;
}

.japanese {
    writing-mode: vertical-rl;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex h3 {
    border-inline-start: 3px solid;
    padding-inline-start: 0.5em;
    margin: 0;
}


.columns.five {
    display: grid;
    column-gap: 30px;
    grid-template-columns: auto auto auto auto auto;
}

.columns.five > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.example.flex h3{
    border-inline: 3px solid;;
}

.example2.flex h3{
    border-inline: none;
    border-block: 3px solid;
}

.margin {
    white-space: nowrap;
    align-items: center;
}

.margin span {
    font-size: 2em;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}

.columns {
    display: flex;
}

.positioning {
    grid-template-columns: auto min-content auto !important;
}

.positioning .block {
    display: flex;
    flex-direction: column;
}

.inset_example {
    border: 3px solid;
    height: 300px;
    width: 400px;
    box-shadow: inset 0 0 0 3px red;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    align-items: flex-start;
}

.activeList * {
    opacity: 0.5;
}

.activeList .active,
.activeList .active * {
    opacity: initial;
}

.big_emoji>span {
    font-size: 2em;
    padding: 0.5em;
    line-height: 1;
}
