.arabic {
    direction: rtl;
}

.japanese {
    writing-mode: vertical-rl;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex h3 {
    border-inline-start: 3px solid;
    padding-inline-start: 0.5em;
    margin: 0;
}


.columns.five {
    display: grid;
    column-gap: 30px;
    grid-template-columns: auto auto auto auto auto;
}

.columns.five > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.example.flex h3{
    border-inline: 3px solid;;
}

.example2.flex h3{
    border-inline: none;
    border-block: 3px solid;
}

.margin {
    white-space: nowrap;
    align-items: center;
}

.margin span {
    font-size: 2em;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}

.columns {
    display: flex;
}

.positioning {
    grid-template-columns: auto min-content auto !important;
}

.positioning .block {
    display: flex;
    flex-direction: column;
}

.inset_example {
    border: 3px solid;
    height: 300px;
    width: 400px;
    box-shadow: inset 0 0 0 10px var(--accent);
}

.flexColumn {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    align-items: flex-start;
}

.activeList * {
    opacity: 0.5;
}

.activeList .active,
.activeList .active * {
    opacity: initial;
}

.big_emoji>span {
    font-size: 2em;
    padding: 0.5em;
    line-height: 1;
}

.img {
    width: 80%;
}

.leaf {
    width: 50px;
}

.japan_leaf {
    font-size: 80px !important;
    height: 90%;
    top: 0;
    width: min-content !important;
    left: 50% !important;
    transform: translate(-100%, -50%) !important;
    margin-top: 0 !important;
}

.leaf {
    background-color: var(--accent);
    border-radius: 0 100% 0 100%;
    height: 2em;
    width: 2em;
    position: absolute;
    opacity: 0.7;

    animation-name: fall, rotate;
    animation-iteration-count: infinite;
    animation-duration: 5s, 0.5s;
    animation-composition: add;
    animation-direction: normal, alternate-reverse;
    animation-timing-function: cubic-bezier(0.48, 0.62, 0.69, 0.27);

    rotate: 45deg;
}

@keyframes fall {
    from {
        top: -100px
    }
    to {
        top: calc(100% + 100px)
    }
}

@keyframes rotate {
    from {
        rotate: 20deg;
    }
    to {
        rotate: -20deg;
    }
}

.leaf:nth-child(1) {
    left: 10%;
    animation-delay: -4s;
}
.leaf:nth-child(2) {
    left: 20%;
    animation-delay: -2.8s;
}
.leaf:nth-child(3) {
    left: 30%;
    animation-delay: -2.3s;
}
.leaf:nth-child(4) {
    left: 40%;
    animation-delay: -4s;
}
.leaf:nth-child(5) {
    left: 50%;
    animation-delay: -5s;
}
.leaf:nth-child(6) {
    left: 60%;
    animation-delay: -3.5s;
}
.leaf:nth-child(7) {
    left: 70%;
    animation-delay: -1.9s;
}
.leaf:nth-child(8) {
    left: 80%;
    animation-delay: -3.2s;
}
.leaf:nth-child(9) {
    left: 90%;
    animation-delay: -2.3s;
}

@keyframes fall_side {
    from {
        left: -100px
    }
    to {
        left: calc(100% + 100px)
    }
}

@keyframes rotate_side {
    from {
        rotate: 20deg;
    }
    to {
        rotate: -20deg;
    }
}
