body {
    margin: 0;
    padding: 0;
}

html:has(.shower.full) {
    background-color: #515b50;
}

main.shower.list {
    min-height: 100vh;
}

.picture {
    width: 100%;
}

.smaller {
    font-size: 0.7em !important;
}

.smallest {
    font-size: 0.5em !important;
}

.bigger {
    font-size: 1.2em !important;
}

.biggest {
    font-size: 1.4em !important;
    line-height: 1;
}

error {
    color: red;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centerAbsolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

pre.no-code code::before {
    content: '' !important;
}

.slide.noBadge::after {
    content: none;
}

.full_image {
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 100%;
    max-width: 100%;
    transform: translate(-50%, -50%);
}

.noBadge::after {
    content: none;

}

.shower.full .next.next_style {
    visibility: visible;
}

.noMargin {
    margin: 0;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}