.CascadeLevelsList {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 0.5em;
    align-items: end;
    position: absolute;
    right: 1em;
}

ul.CascadeLevelsList li::before {
    content: '';
}

.CascadeLevelsList li {
    opacity: 0.3;
    height: 1em;
}

.CascadeLevelsList .CascadeLevelsList__item--active {
    opacity: initial;
}