.frontendConf24 {
    /* headers, control, list views hover */
    --accent: #058105;

    --text-h1-color: var(--accent);
    --text-link: var(--accent);
    --text-list-marker: var(--text-h1-color);
    --bg-slide: black;
    --text-primary: #aec4b4;
    --color-fill: rgba(88, 90, 94, 0.4);
}