.ComputedValue__border {
  border: 2px solid var(--accent);
  padding: 1em;
}

.CascadedValue__example--author {
  color: var(--ORANGE);
  font-size: 70px;
  font-weight: bold;
}

.CascadedValue__example--animation {
  font-size: 70px;
  font-weight: bold;
  color: var(--ORANGE);
  animation: anim 3s infinite;
}

.CascadedValue__example--animationImportant {
  font-size: 70px;
  font-weight: bold;
  color: var(--ORANGE);
}

@keyframes anim {
  50% {
    color: var(--DARK_GREEN);
  }
}

.iframe {
  width: 90%;
  height: 90%;
}
